.section-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    border-radius: 12px;
    border: 2px solid gray;
    margin-bottom: 10px;

}

.alert {
    position: relative;
    background: tan;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    gap: 12px;
}

.alert button {
    position: absolute;
    top: 17px;
    right: 10px;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
}

.section-2 {
    background-color: whitesmoke;
    width: 100%;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 12px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px ;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    vertical-align: middle;
    margin-bottom: -0,1px;
}

h1 {
    text-align: center;
    background-color: rgb(240, 238, 232);
    border-radius: 12px;
    padding-left: 4px;
    padding: 10px;
    border-left: 4px solid red;
}
h2 {
    text-align: left;
    background-color: azure;
    padding-left: 4px;
    padding: 10px;
    border-left: 4px solid red;
    
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 20px;
    background: tan;
    padding: 20px;
    margin: 20px;
    border-radius: 13px;
}

body{
    background: #E6E6FA;
}